.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    flex-direction: column;
}

.card p {
    font-size: 18px;
    font-family: sans-serif;
}

.descricao::first-letter{
    text-transform: uppercase;
}